body
{
    background-color: #181818;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #f6eeee;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

header
{
    display: flex;
    
    background-color: rgb(184, 34, 34);
    height: 200px; 
    flex-direction: column;
    align-items:center; 
    border-radius: 10px;
  
}

header h1
{
    font-weight: bold;
    font-size: 4em;
    font-style: oblique;
    margin-top: 0em;
    margin-bottom: 0em;
    
}

header nav ul
{
    display: flex;
    float: right;
    list-style-type: none;
    margin-top: 0em;
}   
 
header nav li
{
    margin-right: 20px;    
}

